body {
    margin: 0;
    font-family: sans-serif;
}

header, footer {
    background-color: hsl(210, 50%, 30%);
    color: white;
    padding: .5em 0;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: hsl(40, 75%, 75%);
}

main {
    max-width: 60em;
    margin: 2em auto;
    padding: 0 1em;
}

ol, ul {
    font-size: 125%;
}

li {
    margin-bottom: .5em;
}