:root {
    --blue-1: #8af;
    --blue-2: #08f;
    --orange-1: #fa8;
    --orange-2: #f80;
}

body {
    margin: 0 auto;
    font-family: "Fira Sans", sans-serif;
}

h1 {
    text-align: center;
}

main {
    margin: 0 1em;
}

main > section {
  margin-bottom: 1em;
}

#input-container {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
}

#input-container section {
    padding: 1em;
    box-sizing: border-box;
}

section.input {
    width: 100%;
    /* border-radius: 3px; */
}

select {
    font-size: 1em;
}

section.input textarea {
    font-family: sans-serif;
    box-sizing: border-box;
    min-width: 100%;
    font-size: 1.5em;
    height: 4em;
    margin-top: 0.5em;
}

#source-input {
    background: var(--blue-1);
    border-radius: 4px;
}

#target-input {
    background: var(--orange-1);
    border-radius: 4px;
}

#action-buttons {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

#action-buttons button {
    font-size: 1.25em;
}

#map-interface {
    /* margin: 0.5em; */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    margin-bottom: 1em;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "source zoom" "target zoom"; */
}

#map-interface .cell {
    display: flex;
    flex-grow: 1;
    /* width: 100%; */
    border-radius: 4px;
    /* min-width: 75%; */
    padding: 0.5em;
    /* justify-self: left; */
    align-items: center;
}

#map-interface .cell span {
    flex-grow: 1;
}

#map-interface .cell button {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
    background: transparent;
    /* align-self: flex-end; */
    margin: 0 auto;
    font-size: 1.25em;
}

#map-interface .cell button[data-active="true"] {
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
    /* font-weight: bold; */
}

#source-cell {
    /* grid-area: source; */
    background: var(--blue-1);
}

#target-cell {
    /* grid-area: target; */
    background: var(--orange-1);
}

#map {
    max-width: 100%;
    position: relative;
    clip-path: border-box;
}
/*
#map-parent {
    position: relative;
}

#zoom-range {
    position: absolute;
    top: 1em;
    left: 1em;
} */

/*
#map-overlay {
    opacity: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
*/

#map svg {
    /* position: absolute; */
    /* animation: filter 1s; */
    max-width: 100%;
    height: auto;
    /* overflow: scroll; */
}
/*
#map::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: zoom-in;
    visibility: hidden;
}
*/
/*
#map.zooming::after {
    visibility: visible;
}

#map.zooming svg {
    pointer-events: none;
}
*/

#map.zoomed {
    overflow: scroll;
}


#map.zoomed svg {
    max-width: 2000px;
}

/*
@media (max-width: 600px) {
    #map.zoomed svg {
        max-width: 1500px;
    }
}
*/

@media (min-width: 960px) {
    body {
        max-width: 960px;
    }

    #input-container {
        flex-direction: row;
    }

    #action-buttons {
        flex-direction: column;
    }

    #map-interface {
        flex-direction: row;
    }

    #map.zoomed svg {
        max-width: unset;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue-1: #048;
        --orange-1: #840;
    }

    body {
        color: #fff;
        background-color: #222;
    }

    #map-interface .cell button {
        border-color: rgba(255,255,255,0.5);
        color: white;
    }

    #map-interface .cell button[data-active="true"] {
        color: black;
        box-shadow: 0 0 0 1px black;
    }

    #ocean {
        fill: #444;
    }

    path {
        stroke: #444 !important;
    }

    #map-overlay-text {
        fill: white !important;
    }
}
